# Prerequisites
*.The game of rock pper scissors.

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
#include <ctime>
using namespace std;
int main() {
    srand(time(0));
    string userChoice, computerChoice;
    cout << "Welcome to Rock-Paper-Scissors!\n";
    cout << "Enter your choice (Rock, Paper, or Scissors): ";
    cin >> userChoice;
    for (char &c : userChoice) {
        c = tolower(c);
    }
    if (userChoice != "rock" && userChoice != "paper" && userChoice != "scissors") {
        cout << "Invalid choice. Please enter Rock, Paper, or Scissors.\n";
        return 1;
    }
    int randomNum = rand() % 3 + 1;
    switch (randomNum) {
        case 1:
            computerChoice = "rock";
            break;
        case 2:
            computerChoice = "paper";
            break;
        case 3:
            computerChoice = "scissors";
            break;
    }
    cout << "Computer's choice: " << computerChoice << endl;
    cout << "Your choice: " << userChoice << endl;
    if (userChoice == computerChoice) {
        cout << "It's a tie!\n";
    } else if ((userChoice == "rock" && computerChoice == "scissors") ||
               (userChoice == "paper" && computerChoice == "rock") ||
               (userChoice == "scissors" && computerChoice == "paper")) {
        cout << "You win!\n";
    } else {
        cout << "You lose!\n";
    }
    return 0;
}
